*{
	margin: 0;
	border: 0;
	padding: 0;
	font-family: 'arial';
	font-weight: 700;
}

html, body{
	width: 100%;
	height: 100%;
}

a{
	color: black;
}

a.hide-line{
	text-decoration: none;
}

a.hide-line:hover{
	text-decoration: underline;
}

ul{
	list-style-type: none;
}

hr{
	border-top: 2px solid rgba(224, 135, 56, 255);
	border-top: 2px solid #E08738FF;
	margin: 1em 0em;
}

mark{
	color: rgb(255,0,0);
	color: #FF0000;
	background-color: rgb(255,255,255,0);
	background-color: #FFFFFF00;
	font-weight: bolder;
	text-decoration: underline;
}

table{
	min-width: 100%;
	border-collapse: collapse;
}

th,td{
	border: solid 1px;
	padding: 0.5em;
}

.background{
	min-height: 100%;
	background-image: url(bg_image/12.png);
	background-position: center;
	background-attachment: fixed;
}

.content{
	overflow: auto;
}

.upper-bar{
	width: 100%;
	height: 3rem;
	background-color: rgb(255,194,141);
	background-color: #FFC28D;
	position: fixed;
}

.menu-btn{
	height: 3rem;
	width: 3rem;
	float: left;
}

.open-img{
	height: 3rem;
	width: 3rem;
	transition-property: transform;
	transition-duration: 1s;
}


.title{
	height: 3rem;
	margin-left:5rem;
}

.main-title{
	height:3rem;
}


.menu-bar{
	top:3rem;
	left: -18rem;
	width: 18rem;
	height: 100%;
	background-color: rgb(255,194,141);
	background-color: #FFC28D;
	position: fixed;
	float:left;
	display: -webkit-flex;
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
	transition-property: left;
	transition-duration: 1s;

}

.bar-dec{
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	min-width: 90rem;
}


.bar-content{
	padding-left: 0.5rem;
}

.menu{
	margin: 0.5rem;
	margin-top: 2rem;
	font-size: 1.5rem;
}

.menu-root{
	margin: 1rem 0;
	padding: 1rem;
	width: 14rem;
	background-color: rgb(255,172,113);
	background-color: #FFAC71;
	border-radius: 1rem;
}

.hide-menu{
	font-size: 0rem;
	background-color: rgba(251,170,98,0);
	background-color: #FBAA6200;
	transition: all 300ms 0s ease;
}

.main-menu{
	display: none;
}

.main-menu:checked + .hide-menu{
	text-align: left;
	margin: 0.5rem 0;
	font-size: 1.2rem;
	background-color: rgba(251,170,98,255);
	background-color: #FBAA62FF;
}

.disc{
	font-size: 1rem;
	width:16rem;
}

.main-content{
	max-width: 70rem;
	padding: 1rem;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(248,255,245,217);
	background-color: #F8FFF5D9;
	font-size: 1.4rem;
	overflow:auto;
}

.content-title{
	font-size: 2rem;
}

.content-subtitle{
	font-size: 1.7rem;
	padding-bottom:0.5rem;
}

.table-all{
	background-color: rgb(189,255,138);
	background-color: #BDFF8A;
}

.table-vip{
	background-color: rgb(9EE9FF);
	background-color: #9EE9FF;
}

.table-adminlv3{
	background-color: rgb(174,133,255);
	background-color: #AE85FF;
}

.table-adminlv2{
	background-color: rgb(237,135,255);
	background-color: #ED87FF;
}

.table-adminlv1{
	background-color: rgb(255,171,101);
	background-color: #FFAB65;
}

.table-op{
	background-color: rgb(255,88,88);
	background-color: #FF5858;
}

.bg-adminlv3{
	background-color: rgb(255,255,255);
	background-color: #FFFFFF;

}

.bg-adminlv2{
	background-color: rgb(251,230,255);
	background-color: #FBE6FF;

}

.bg-adminlv1{
	background-color: rgb(255,239,225);
	background-color: #FFEFE1;

}

.bg-op{
	background-color: rgb(255,228,228);
	background-color: #FFE4E4;

}

.player-image{
	max-height:20rem;
	max-width:20rem;
	border-radius: 1rem;
}

.player-parent{
	margin: 1rem;
	padding: 1rem;
	display: flex;
	border-radius: 1rem;
}

.player-text-flame{
	margin: 1rem;
	width: 100%;
	border-radius: 1rem;
}

.player-text{
	padding-left: 1rem;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.player-name{
	padding-bottom:1rem;
	font-size: 2rem;
	font-weight: bold;
}

.player-flame{
	padding: 0.5rem 0.7rem 0.7rem 0.5rem;
	border-radius: 1rem;
}

.question{
	font-size: 1.8rem;
}

.form-out{
	box-sizing: border-box;
	overflow: auto;
}

.form{
	width: 24rem;
	padding: 0.5rem;
	float:left;
	border: solid;
	border-radius: 1rem;
	transition: all 1000ms 0s ease;
}

.form a{
	transition: all 300ms 0s ease;
}

.form:hover{
	background-color: #EF67FF;
}

.form:hover a{
	color: #FFFFFF;
}

.form-help{
	padding-left:1rem;
	overflow: auto;
}
