*{
	margin: 0;
	border: 0;
	padding: 0;
	font-family: 'arial';
	font-weight: bold;
}

html, body{
	width: 100%;
	height: 100%;
}

a.hide-line{
	text-decoration: none;
}

a.hide-line:hover{
	text-decoration: underline;
}

ul{
	list-style-type: none;
}

hr{
	border-top: 2px solid rgba(224, 135, 56, 255);
	border-top: 2px solid #E08738FF;
	margin: 1em 0em;
}

mark{
	color: rgb(255,0,0);
	color: #FF0000;
	background-color: rgb(255,255,255,0);
	background-color: #FFFFFF00;
	font-weight: bolder;
	text-decoration: underline;
}

table{
	border-collapse: collapse;
}

th,td{
	border: solid 1px;
	padding: 0.5em;
}

.background{
	min-height: 100%;
	background-image: url(bg_image/12.png);
	background-position: center;
	background-attachment: fixed;
}

.menu-bar{
	text-align: center;
	width: 100%;
	height: 8rem;
	background-color: rgb(224, 135, 56);
	background-color: #E08738;
	position: fixed;
	display: -webkit-flex;
	display: flex;

}

.bar-dec{
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	min-width: 90rem;
}


.title{
	float: left;
	margin: 0.7rem;
}

.main-title{
	font-size: 4rem;
	color: rgb(247,210,143);
	color: #F7D28F;
	text-shadow: 0.2rem 0.1rem 0.1rem rgba(0,0,0,165);
	text-shadow: 0.2rem 0.1rem 0.1rem #000000A5;
}

.sub-title{
	font-size: 1.2rem;
	color: rgb(113,47,0);
	color: #712F00;
	text-shadow: 1px 1px 0rem rgba(0,0,0,165);
	text-shadow: 1px 1px 0rem #000000A5;
}

.menu{
	margin: 0.7rem;
	margin-top: 5rem;
	font-size: 1.5rem;
}

.menu-root{
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: rgb(224, 135, 0);
	background-color: #E08700;
}

.hide-menu{
	position: absolute;
	text-align: left;
	padding: 0 1em;
	font-size: 0rem;
	background-color: rgba(251,170,98,0);
	background-color: #FBAA6200;
	transition: all 300ms 0s ease;
}

.main-menu:hover + .hide-menu{
	text-align: left;
	padding: 0.2em 1em;
	font-size: 1.2rem;
	background-color: rgba(251,170,98,255);
	background-color: #FBAA62FF;
}


.hide-menu:hover{
	text-align: left;
	padding: 0.2em 1em;
	font-size: 1.2rem;
	background-color: rgba(251,170,98,255);
	background-color: #FBAA62FF;
}

.main-content{
	padding: 8rem 0.5rem 1rem 0.5rem;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(248,255,245,217);
	background-color: #F8FFF5D9;
	font-size: 1.4rem;
	max-width: 90rem;
}

.content-title{
	font-size: 2rem;
}

.content-subtitle{
	font-size: 1.7rem;
}

.table-all{
	background-color: rgb(46,255,0);
	background-color: #2EFF00;
}

.table-vip{
	background-color: rgb(0,255,204);
	background-color: #00FFCC;
}

.table-adminlv3{
	background-color: rgb(157,0,255);
	background-color: #9D00FF;
}

.table-adminlv2{
	background-color: rgb(217,0,255);
	background-color: #D900FF;
}

.table-adminlv1{
	background-color: rgb(255,115,0);
	background-color: #FF7300;
}

.table-op{
	background-color: rgb(255,0,0);
	background-color: #FF0000;
}